<%- include('layouts/header'); %>
<main>
    <h1>Home Page</h1>
    <form action method="get">
        <input name="q" type="text">
        <button>Search</button>
    </form>
</main>
<%- include('layouts/footer'); %>
